{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block content %}
    <div class="text-white-50 flex-wrap d-inline-flex justify-content-center">
        <div class="banner-bg mt-5 p-5 text-center my-shape-1">
            {% trans 'Cinema.uz - одна из самых лучших кинотеартов в Узбекистане. главный концертный зал Узбекистана. Был построен в 1980 году в Ташкенте по проекту архитектора Евгения Розанова для проведения концертов и праздничных мероприятий. В концертном зале также проводятся официальные церемонии во время визитов представителей иностранных государств .главный концертный зал Узбекистана. Был построен в 1980 году в Ташкенте по проекту архитектора Евгения Розанова для проведения концертов и праздничных мероприятий. В концертном зале также проводятся официальные церемонии во время визитов представителей иностранных государств' %}
        </div>
        <img src="{% static 'main/images/first.jpg' %}" alt="..." class="position-relative banner-bg mt-5 text-center my-shape-2">
        <img src="{% static 'main/images/second.jpg' %}" alt="..." class=" banner-bg mt-5 text-center my-shape-2">
        <div class="position-relative banner-bg mt-5 p-5 text-center my-shape-1">
            {% trans 'Эта книга адресована всем, кто изучает русский язык. Но состоит она не из правил, упражнений и учебных текстов. Для этого созданы другие замечательные учебники. У этой книги совсем иная задача. Она поможет вам научиться не только разговаривать, но и размышлять по-русски. Книга, которую вы держите в руках, составлена из афоризмов и размышлений великих мыслителей, писателей, поэтов, философов и общественных деятелей различных эпох. Их мысли - о тех вопросах, которые не перестают волновать человечество. Вы можете соглашаться или не соглашаться с тем, что прочитаете в этой книге.' %}
        </div>
    </div>
{% endblock %}