{% load i18n %}
<div class="my-bg card-footer w-100 mt-5 " id="footer">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom border-dark pb-3 mb-3">
      <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-muted">{% trans 'Главный' %}</a></li>
      <li class="nav-item"><a href="{% url 'about' %}" class="nav-link px-2 text-muted">{% trans 'О нас' %}</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">{% trans 'Контакты' %}</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2022 Cinema.uz</p>
  </footer>
</div>